@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    /* Animation Speed */
    --animspeed: 500ms;

    /* Peach Theme Colors */
    --website-background: #6D6875;
    --website-color-1: #B5838D;
    --website-color-2: #E5989B;
    --website-color-3: #FFB4A2;
    --website-color-4: #FFCDB2;
    
    /* American Popsicle Theme Colors */
    --amerpop-red: #E63946;
    --amerpop-light: #F1FAEE;
    --amerpop-blue1: #A8DADC;
    --amerpop-blue2: #457B9D;
    --amerpop-background: #1D3557;

    /* Dark Red Theme */
    --dr-background: #1A1A1D;
    --dr-grey: #4E4E50;
    --dr-red1: #6F2232;
    --dr-red2: #950740;
    --dr-red3: #C3073F;
}

* {
    background-color: var(--dr-background);
    font-family: 'Roboto Mono';
}