.contact-content {
  position: fixed;
  left: 10vw;
  right: 10vw;
  height: 100vh;
  min-width: 80vw;
  /* border: 1px solid red; */
}

.page-title {
  color: var(--theme-black);
  padding: 0 1em;
  margin: 10rem 0 5rem 0;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  padding: 1em;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.form-label {
  color: var(--theme-black);
  font-size: 2.4rem;
}

.form-input {
  color: var(--theme-background);
  border-color: var(--theme-darkgrey);
  border-radius: 1rem;
  border-width: .4rem;
  font-size: 2rem;
  width: 100%;
}

::placeholder {
  color: var(--theme-lightgrey);
}

.form-submit {
  color: var(--theme-black);
  font-size: 1.8rem;
  border-color: var(--theme-lightgrey);
  border-radius: 1rem;
  border-width: .5rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  transition: all 400ms ease-in-out;
}

.form-submit:hover {
  transform: scale(1.05);
  color: var(--milkshake-green);
}

.form-message {
  color: var(--theme-darkgrey);
  border-color: var(--theme-black);
  border-width: 3px;
  border-radius: 10px;
  font-size: 20px;
  height: 120px;
  width: 100%;
}

@media screen and (max-width: 400px){
  .page-title {
    margin: 2rem 0 5rem 0;
  }
}

@media screen and (max-width:300px){
  .form-label {
    font-size: 1.8rem;
  }
}

