@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
.greeting-content {
  /*border: 6px solid red;*/
  position: absolute;
  left: 10vw;
  height: 100vh;
  width: 50%;
  background-color: var(--theme-background);
}

.picture-content {
  position: absolute;
  left: 50vw;
  height: 100vh;
  width: 70%;
}

.introBox {
  position: absolute;
  background-color: transparent;
  left: 5vw;
  top: 20vh;
  border: 1px solid white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.homepage-greeting {
  color: var(--theme-black);
  background-color: transparent;
  border: 1px solid white;
  font-size: 28px;
  margin: 0;
}

.nameBanner {
  color: var(--theme-black);
  background-color: transparent;
  border: 1px solid white;
  font-size: 45px;
}

.roleBanner {
  color: var(--theme-black);
  background-color: transparent;
  font-size: 28px;
  border: 1px solid white;
  margin: 0;
}

.homepage-subgreeting {
  position: absolute;
  left: 5vw;
  top: 55vh;
  margin-right: 10vw;
  width: auto;
  background-color: transparent;
  border: 1px solid white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.homepage-summary {
  color: var(--theme-black);
  background-color: transparent;
}

.slide-container {
  position: absolute;
  left: 5vw;
  top: 70vh;
  border: 1px solid var(--theme-black);
  width: 80%;
  height: 25%;
}
