.home-content {
    padding-top: 100px;   
}

.homepage-greeting {
    color: hsla(350, 93%, 61%, 1);

    color: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);

    color: -moz-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);

    color: -webkit-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F83D5C", endColorstr="#FD4B2F", GradientType=1 );

    text-align: center;
    font-size: 240px;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;

}

.homepage-subgreeting {
    color: var(--dr-grey);
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}

.footer-content {
    margin-left: 10px;
    display: inline-block;
}

.made-with-title {
    margin-left: 40px;
    color: white;
}

.made-with-list {
    list-style: none;
}

.made-with-li {
    color: var(--dr-red3);
}

.project-signature {
    color: var(--dr-grey);
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    right: 0px;
}

.social-icons {
    color: var(--dr-red3);
    text-decoration: none;
    padding-right: 10px;
    transition: all 500ms ease-in-out;
}

.social-icons:hover {
    color: white;
}

@media only screen and (max-width: 768px) {
    .home-content {
        padding-top: 0;
    }

    .homepage-greeting {
        padding-top: 0;
        margin-top: 80px;
        font-size: 150px;
    }

    .homepage-subgreeting {
        font-size: 20px;
    }
}