* {
  box-sizing: border-box;
}
.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  display: block;
  /*border: 1px solid white;*/
}

.nav-header-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  column-gap: 0px;
}

/* Nav Link Styling */

.navLink {
  color: var(--theme-black);
  transform: rotate(-90deg);
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--theme-hovercolor);
  border-radius: 4px;
}
