.work-content {
  margin-left: 0;
  position: absolute;
  left: 10%;
  right: 5%;
  top: 0;
}

.title-container {
  width: 100%;
  height: 10vh;
}

.work-title {
  font-size: 30px;
}

.project-section {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.project-image-odd {
  width: 500px;
  height: 300px;
  border-radius: 6px;
}

.project-image-even {
  width: 500px;
  height: 300px;
  border-radius: 6px;
  margin-left: 40px;
}

.project-information-odd {
  height: 100%;
  margin-left: 40px;
  width: 40%;
}

.project-information-even {
  height: 100%;
  width: 40%;
}

.project-team-odd {
  color: var(--theme-black);
  text-align: right;
  font-size: 14px;
}

.project-team-even {
  color: var(--theme-black);
  text-align: left;
  font-size: 14px;
}

.project-name-odd {
  color: var(--theme-black);
  text-align: right;
  font-size: 22px;
}

.project-name-even {
  color: var(--theme-black);
  text-align: left;
  font-size: 22px;
}

.project-description-odd {
  color: var(--theme-black);
  background-color: var(--theme-hovercolor);
  text-align: right;
  padding-right: 10px;
}

.project-description-even {
  color: var(--theme-black);
  background-color: var(--theme-hovercolor);
  text-align: left;
  padding-right: 10px;
}

.project-tools-list-odd {
  list-style: none;
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: flex-end;
}

.project-tools-list-even {
  list-style: none;
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: flex-start;
}

.project-tools-odd {
  display: list-item;
  text-align: right;
  margin-right: 25px;
}

.project-tools-even {
  display: list-item;
  text-align: left;
  margin-right: 25px;
}

.project-links-odd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.project-links-even {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.github-icon-odd {
  color: var(--theme-black);
  text-decoration: none;
  padding-right: 10px;
  transition: all 500ms ease-in-out;
}

.github-icon-even {
  color: var(--theme-black);
  text-decoration: none;
  padding-left: 10px;
  transition: all 500ms ease-in-out;
}

.github-icon-odd:hover {
  color: var(--theme-mainAccent);
}

.github-icon-even:hover {
  color: var(--theme-mainAccent);
}

.crypto-img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  filter: grayscale(100%);
  transition: 500ms all ease-in-out;
}

.crypto-img:hover {
  filter: none;
}

.vid-container {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.other-project-container {
  height: 40vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.other-projects-title {
  width: 100%;
  text-align: center;
}

.other-projects {
  height: 30vh;
  width: 15vw;
  border: 1px solid black;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.other-projects:hover {
  top: -10px;
}

.oproject-top-container {
  border: 1px solid blue;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.folder-icon-container {
  color: var(--theme-black);
  border: 1px solid red;
  width: fit-content;
}

.openwith-icon-container {
  color: var(--theme-black);
  border: 1px solid red;
  width: fit-content;
}

.oproject-title-container {
  border: 1px solid blue;
  width: 100%;
}

.oproject-title {
  color: var(--theme-black);
}

.oproject-description-container {
  border: 1px solid blue;
  width: 100%;
}

.oproject-description {
  color: var(--theme-darkgrey);
}

.oproject-tools-container {
  border: 1px solid blue;
  width: 100%;
}

.oproject-tools-list {
  border: 1px solid blue;
  list-style: none;
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: flex-start;
}

.oproject-tool {
  font-size: 10px;
  margin-right: 10px;
  color: var(--theme-mainAccent);
}
